doctype html
html
  head
    meta(charset="utf-8")
    title blooming onion
    link(rel="stylesheet" href="the.css")
    meta(name="viewport" content="width=device-width")
  body
    .loading shut the fuck up i'm loading
    script(src="vendor/spectra.js")
    script(src="vendor/zoomcontext.js")
    script(src="vendor/tween.js")
    script(src="vendor/sugar.js")
    script(src="the.js")
