doctype html
html

  head
    meta(charset="utf-8")
    title How wrong is your timezone?
    link(rel="stylesheet" href="the.css")

  body

    script(src="../vendor/suncalc-1.5.2.js")
    script(src="../vendor/humanizeduration-2.0.1.js")
    script(src="../vendor/sugar-1.4.1.js")
    script(src="the.js")
