doctype html
html

  head
    meta(charset="utf-8")
    title ugh
    link(rel="stylesheet" href="the.css")

  body

    script(src="vendor/jquery.js")
    script(src="vendor/spectra.js")
    script(src="vendor/ticker.js")
    script(src="vendor/mousetracker.js")

    script(src="lib/big_ol_canvas.js")
    script(src="lib/poolboy.js")

    script(src="droplet.js")
    script(src="makecolor.js")
    script(src="main.js")
