doctype html
html

  head
    meta(charset="utf-8")
    title gargle
    link(rel="stylesheet" href="the.css")

  body

    canvas(width="1200" height="1200")

    script(src="../vendor/isomer-0.2.4.js")
    script(src="../vendor/ticker-0.2.1.js")
    script(src="../vendor/underscore-1.6.0.js")

    script(src="the.js" async)
