doctype html
html

  head
    meta(charset="utf-8")
    link(href="the.css" rel="stylesheet")
    title click for fireworks

  body

    script(src="vendor/jquery.js")
    script(src="vendor/big_ol_canvas.js")
    script(src="vendor/context_dot_clear.js")
    script(src="vendor/ticker.js")
    script(src="vendor/randomcolor.js")
    script(src="vendor/sugar.js")

    script(src="entity.js")
    script(src="particle.js")
    script(src="rocket.js")
    script(src="the.js" async)
