doctype html
html

  head
    meta(charset="utf-8")
    title hahaha
    link(rel="stylesheet" href="the.css")
    meta(name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=0")

  body

    script(src="vendor/spectra.js")
    script(src="vendor/jquery.js")
    script(src="vendor/tsw.js")
    script(src="the.js")
