doctype html
html

  head
    meta(charset="utf-8")
    title attraction
    link(rel="stylesheet" href="the.css")

  body

    script(src="../vendor/ticker-0.2.1.js")
    script(src="../vendor/zepto-1.1.4.js")

    script(src="planet.js" async)
    script(src="the.js" async)
