doctype html
html

  head
    meta(charset="utf-8")
    title bleh
    link(rel="stylesheet" href="the.css")

  body
    script(src="../vendor/ticker-0.2.1.js")
    script(src="../vendor/zepto-1.1.4.js")
    script(src="../vendor/mousetracker-0.1.0.js")
    script(src="../vendor/spectra-0.2.3.js")

    script(src="the.js" async)
