doctype html
html

  head
    meta(charset="utf-8")
    title bruhaha
    link(rel="stylesheet" href="the.css")

  body
    
    canvas

    script(src="../vendor/ticker-0.2.1.js")

    script(src="branch.js")
    script(src="the.js")
