@import "vendor/cssreset";

@brand-color: #85242f;
@brand-color-light: lighten(@brand-color, 25%);

html {
  font-family: Lato, "Segoe UI", Avenir, Ubuntu, Tahoma, Verdana, Helvetica, sans-serif;
  font-size: 16pt;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
}

body > h1 {
  display: block;
  padding: 1em;
  text-align: center;
  font-size: 36pt;
  background-color: #f0f0f0;
  a {
    color: @brand-color;
    &:hover {
      color: @brand-color-light;
    }
  }
}

.doodles {
  display: block;
  width: 95%;
  max-width: 800px;
  margin: 0 auto;
  li {
    display: inline-block;
    text-align: center;
    h1 {
      margin: .5em 0;
    }
    a {
      color: #000;
      font-weight: bold;
      &:hover {
        color: #666;
      }
    }
    img {
      width: 200px;
      height: 200px;
    }
  }
}
