doctype html
html

  head
    meta(charset="utf-8")
    title Evan Hahn's code doodles
    link(rel="stylesheet" href="index.css")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0")

  body

    mixin doodle(name)
      li
        a(href="#{name}")
          h1= name.replace(/\-/g, " ")
          img(src="#{name}/image.png")

    h1 "Code doodles" by <a href="http://evanhahn.com">Evan Hahn</a>

    ul.doodles
      +doodle("blooming-onion")
      +doodle("pietime")
      +doodle("you-are-the-worst")
      +doodle("glowing-octo-bear")
      +doodle("fireworks")
      +doodle("ring-tones")
      +doodle("pyramid-waves")
      +doodle("sunrise")
      +doodle("repel")
      +doodle("branches")
